# This file contains the configuration settings for SEL735 meters.

# General settings for the application
application:
  name: "Meter Data Collection"
  version: 1.0

# Optional: if not specified, will download to current directory 
download_directory: ""

# Configuration Settings
location: ""
data_type: ""

# Default credentials for FTP server
credentials:
  username: ""
  password: ""

# Configuration for the meter and optional username/password override
meters:
  # Meter 1
  - ip: ""
    id: ""
    type: ""
    username: "" # Optional override
    password: "" # Optional override
  # Next meter here
  - ip: ""
    id: ""
    type: ""
    username: "" # Optional override
    password: "" # Optional override
  
