# This file contains the configuration settings for SEL735 meters.

# General settings for the application
application:
  name: "Event Data Collection"
  version: 2.0

# Configuration Settings
location: ""
data_type: ""
download_directory: ""

# bytes/s, 0 means unlimited, Suffixes are supported, e.g. 100K means 102400.
bandwidth_limit: 0
# If empty, the default to 1.
max_conection_retries: 
max_age_days: 

# Require default credentials for FTP server
credentials:
  username: ""
  password: ""

# Configuration for the meter and optional username/password override
meters:
# Meter 1
  - ip: ""
    id: ""
    type: ""
    credentials:
      username: "" # Optional override
      password: "" # Optional override
# Meter 2
  - ip: ""
    id: ""
    type: ""
    credentials:
      username: "" # Optional override
      password: "" # Optional override

