# This file contains the configuration settings for SEL735 meters 
# and download location.

# General settings for the application
application:
  name: "Event Data Collection"
  version: 

# If not specified, will download to current directory and can be overriden by the -d/--download_dir flag
download_directory: ""

# Configuration Settings
location: ""
data_type: ""

# Default credentials for FTP server
credentials:
  username: ""
  password: ""

# Configuration for the meter and optional username/password override
meters:
# Meter 1
  - ip: ""
    id: ""
    type: ""
    credentials:
      username: "" # Optional override
      password: "" # Optional override
