[submodule "cli_meter/test/bats"]
	path = cli_meter/test/bats
	url = https://github.com/bats-core/bats-core.git
[submodule "cli_meter/test/test_helper/bats-support"]
	path = cli_meter/test/test_helper/bats-support
	url = https://github.com/bats-core/bats-support.git
[submodule "cli_meter/test/test_helper/bats-assert"]
	path = cli_meter/test/test_helper/bats-assert
	url = https://github.com/bats-core/bats-assert.git
[submodule "cli_meter/test/test_helper/bats-mock"]
	path = cli_meter/test/test_helper/bats-mock
	url = https://github.com/jasonkarns/bats-mock.git
