name: CI

on:
  pull_request:
    branches:
      - "**"

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          submodules: "true"

      - name: Initialize and update submodules
        run: git submodule update --init --recursive

      - name: Change directory to cli_meter
        run: cd cli_meter

      - name: Run Bats tests
        run: bats test
